{% extends 'test.html' %}
{% block content %}
    {% load static %}
    div class="parking">
        <div class="wrapper">
            <div class="cards">
                <div class="time-card">
                    <h5>Available</h5>
                </div>
                <div class="time-card">
                    <h5>Available</h5>
                </div>
                <div class="time-card">
                    <h5>Available</h5>
                </div>
                <div class="time-card">
                    <h5>Available</h5>
                </div>
            </div>
        </div>
    </div>